#header{
	background-color: #8f9a00;
}
#header_links_container_mobile{
	background-color: #838601;
}
#header_divider {
    background-color: #b6cb00;
}
#middle {
    background-image: url(../IMAGES/border/contactusbody.png);
}

form{
	width: 100%;
}
form div{
	direction: rtl;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
button{
	background-color: #8F9B22;
	border: none;
	border-radius: 10px;
	color: #fff;
	margin-right: 20px;
	padding: 0 25px;
	text-align: right;
}
textarea{
	resize: none;
	height: 150px;
}
::-webkit-input-placeholder{
	color: #8F9B22;
	font-size: 0.9em;
}
:-ms-input-placeholder{
	color: #8F9B22;
	font-size: 0.9em;
}
::placeholder{
	color: #8F9B22;
	font-size: 0.9em;
}
.form_group, .form_send{
	margin: 20px 0;
}
textarea, input{
	width: 100%;
	border:3px solid #8F9B22;
	padding: 4px;
	border-radius: 10px;
}
input:nth-child(even){
	margin-right: 20px; 
}
.form_send{
	display: flex;
	justify-content:flex-end;
	align-items: center;
}
.form_send button{
	margin: 0;
	padding: 10px 25px;
}

#first_group .col-sm-6{
	padding-right: unset;
	padding-left: unset;
}
#first_group .col-sm-6:nth-child(2){
	padding-right: 20px;
}

/* MOBILE SIZING STYLES */
@media only screen and (max-device-width: 480px),(max-width: 600px){
	input:nth-child(even){
		margin-right: 0;
	}
	form div{
		flex-direction: column;
	}
	button{
		margin: 0;
	}
	.form_group{
		margin: 0;
	}
	.form_send{
		justify-content: center;
	}
	button,input,textarea{
		margin-top: 20px;
	}
	#first_group .col-sm-6:nth-child(2){
		padding-right: 0;
	}
}