#header{
	background-color: #8f9a00;
}
#header_links_container_mobile{
	background-color: #838601;
}
#header_divider {
    background-color: #b6cb00;
}
#top_border{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#top_border_left,#top_border_right{
	max-height: 169px;
	max-width: 261px;
}
#top_border_logo{
	max-height: 197px;
	max-width: 356px;
}
#top_border #top_border_left, #top_border #top_border_right{
	min-width: 34%;
	max-width: 34%;
}
#top_border_left{
	text-align: left;
}
#top_border_right{
	text-align: right;
}
#top_border #top_border_logo{
	width: 32%;
}
#top_border #top_border_left img , #top_border #top_border_right img{
	width: 67%;
}
#content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#top_border, #bottom_border{
	width: 100%;
}
#bottom_border img{
	width: 100%;
	max-width: 1160px;
}
#inbetween_content div{
	text-align: center;
}
#inbetween_content{
	align-items: center;
	padding:45px;
}
#inbetween_content img{
	max-width: 320px;
	width: 100%;
	margin: 35px 0;
}
#inbetween_content p{
	text-align: right;
	color: darkblue;
	flex: 1;
}
.character-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;		
}
.top_border_logo{
	display: none;
}

/* MOBILE SIZING STYLES */
@media only screen and (max-device-width: 480px) {
	#inbetween_content img{
		margin: 35px 0;
	}
	#inbetween_content p{
		color: #fff;
	}
	#top_border_logo{
		display: none;
	}
	.top_border_logo{
		display: flex;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
	/*#top_border_logo{
		display: none;
	}
	.top_border_logo{
		display: flex;
	}
	#inbetween_content p{

	}
	#inbetween_content img {
	    width: 50%;
	}*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	ul li {
	    font-size: 1.1rem;
	    margin-bottom: 6px;
	}
	h3{
		font-size: 1.5rem;
	}
	h1{
		font-size: 2.25rem;
		margin-bottom: 20px;
	}
	p{
		font-size: 1.25rem;
	}
	#top_border_logo{
		display: none;
	}
	.top_border_logo{
		display: flex;
	}
	#inbetween_content p{
		font-size: 1.15rem;
	}
	#inbetween_content img {
	    width: 50%;
	}
}

/* Extra Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 520px) {
	ul li{
		margin-bottom: 4px;
	}
}




