#header{
	background-color: #8f9a00;
}
#header_links_container_mobile{
	background-color: #838601;
}
#header_divider {
    background-color: #b6cb00;
}
#content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#top_border, #bottom_border{
	width: 100%;
}
#top_border img, #bottom_border img{
	width: 100%;
	max-width: 1160px;
}
#inbetween_content div{
	text-align: center;
}
#inbetween_content{
	align-items: center;
	padding:45px;
}
#inbetween_content img{
	max-width: 320px;
	width: 100%;
	margin: 35px 0;
}
#inbetween_content p{
	text-align: right;
	color: darkblue;
	flex: 1;
}

/* MOBILE SIZING STYLES */
@media only screen and (max-device-width: 480px) {
	#inbetween_content img{
		margin: 35px 0;
	}
	#inbetween_content p{
		color: #fff;
	}
}




