#content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#top_border, #bottom_border{
	width: 100%;
}
#top_border img, #bottom_border img{
	width: 100%;
	max-width: 1160px;
}
#inbetween_content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#inbetween_content img{
	max-width: 290px;
	width: 100%;
	padding-right: 15px;
}
#inbetween_content p{
	text-align: right;
	color: darkblue;
	flex: 1;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#inbetween_content{
		flex-direction: column;
	}
	#inbetween_content img{
		max-width: 290px;
		width: 100%;
		padding-right: unset;
		padding-bottom: 20px;
	}	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#inbetween_content{
		flex-direction: column;
	}
	#inbetween_content img{
		padding-right: unset;
		padding-bottom: 20px;
	}	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#inbetween_content{
		flex-direction: row;
	}
	#inbetween_content img{
		padding-right: 20px;
		padding-bottom: unset;
	}	
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#inbetween_content{
		flex-direction: row;
	}
	#inbetween_content img{
		padding-right: 20px;
		padding-bottom: unset;
	}
}