
/* Fonts */
@font-face {
	font-family: 'bahij';
	src: 
	url('../FONTS/Bahij.ttf')
		format('truetype');
}

/* - - - - - - - - - - - - - - - - - - */

/* General containers */
	html, body {
		min-height:100%;
	}
	body{
		background-image: url('../IMAGES/bg.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: 'bahij';
	}
	#clouds_body{
		background-image: url(../IMAGES/cloud.png);
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: bottom;
	    width: 100%;
	    min-height: 100vh;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	}

/* General menu (header & navbar)*/
	#header_main_container{
		
	}
	#header_container{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}
	#header{
		width: 100%;
		background: #2d5fff;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction:row;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}/**/
	#header_social a,#footer_social a{
		color: #fff;
		font-size: 1.55em;
		padding-right: 4px;
		padding-left: 4px;
		transition: .3s;
	}
	#header_social a:hover,#footer_social a:hover{
		text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	}
	#header_divider{
		background-color: #23acff;
		height: 20px;
		border-radius: 10px;
		width: 100%;
		position: absolute;
		bottom: -12px;
		right: 0;
		left: 0;
	}
	#header_buttons{
		max-height: 163px;
		height: 100%;
		max-width: 1059px;
		width: 100%;
		background-image: url('../IMAGES/headerlinks.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#header_buttons div{
		display: flex;
	    flex-direction: row;
	    width: 85%;
	    justify-content: space-between;
	    align-items: center;
	}
	#header_buttons a{
		color: #fff;
		font-size: 1.4em;
	}
	#header_links_container{
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 95%;
		max-height: 165px;
		height: 100%;
		margin: 0;
	}
	.header_link{
		flex: 1;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 0;
		justify-content: center;
		align-items: center;
		display: flex;
		max-height: 163px;
		height: 100%;
		margin-right: -2px;
		transition: .4s;
		overflow: hidden;
	}
	.header_link:hover{
		/*-webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.3); 
		box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.3);*/
	}
	.header_link a{
		color: #fff;
		text-align: center;
		align-self: center;
		margin-top: -5px;
		font-size: 1.5em;
		line-height: 1em;
		font-style: italic;
		transition: .3s;
	}
	.header_link:hover a{
		text-decoration: none;
		text-shadow: 0px 0px 8px rgba(206,89,55,0.6);
	}
	#header_one{
		min-height: 134px;
		background-image: url('../IMAGES/header/1.png');
	}
	#header_one:hover{
		background-image: url('../IMAGES/header/1hover.png');
	}
	#header_two{
		min-height: 163px;
		background-image: url('../IMAGES/header/2.png');
	}
	#header_two:hover{
		background-image: url('../IMAGES/header/2hover.png');
	}
	#header_three{
		min-height: 138px;
		background-image: url('../IMAGES/header/3.png');
	}
	#header_three:hover{
		background-image: url('../IMAGES/header/3hover.png');
	}
	#header_four{
		min-height: 149px;
		background-image: url('../IMAGES/header/4.png');
	}
	#header_four:hover{
		background-image: url('../IMAGES/header/4hover.png');
	}
	#header_five{
		min-height: 150px;
		background-image: url('../IMAGES/header/5.png');
	}
	#header_five:hover{
		background-image: url('../IMAGES/header/5hover.png');
	}

	/* Mobile menu (navbar)*/
	#header_links_container_mobile{
		display: none;
		width: 100%;
		padding: 0 50px;
		padding-bottom: 10px;
	}
	#header_links_container_mobile a{
		display: block;
		text-align: center;
		color: #fff;
		font-size: 2em;
		padding-top: 20px;
		padding-bottom: 20px;
	    border-top: 1px solid rgba(0,0,0,0.3); 
	}
	#menu_button{
		color: #fff;
		font-size: 2em;
		margin: 20px;
		display: none;
		position: relative;
	}
	#menu_button_content{
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		display:flex; justify-content: center;
		align-items: center;
	}
	#close_menu_icon{
		display: none;
	}
	#header_divider_mobile{
		visibility: hidden;
		position: absolute;
		bottom: -23px;
		z-index: 5;
	}

/* Footer */
	#footer{
		position: relative;
		width: 100%;
	}
	#footer_background{
		width: 100%; max-width: 1114px;
		height: 100%; max-height: 242px;
	}
	#footer_content{
		position: absolute;
		top: 25%; left: 0; right: 0; bottom: 0;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 35px;
		color: #fff;
	}
	#footer_social{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#footer_logos img{
		padding: 0 5px;
	}
	#footerminimajedlogo{
		display: none;
	}

#page_content{
	width: 100%;
	position: relative;
}

#title_container{
	position: relative;
    margin-top: -70px;
    transform: scale(0.75);
    max-width: 390px;
}

#title{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title h1{
	font-weight: bold;
	color: #fff;
	font-size: 3.5rem;
}

#page_content_border{
	width: 100%;
}

#page_content_content{
	position: absolute;
	top: 50px;
	right: 50px;
	left: 50px;
	bottom: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

#content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
}

#content p{
	direction: rtl;
}

#content img{
	width: 100%;
}

#content_background{
	position: absolute;
	top: 40px; bottom: 45px;
	right: 30px; left: 30px;
	background-color: #35d1b7;
	z-index: 0;
}

#middle{
	margin-top: -10px; 
	margin-bottom: -10px; 
	background-image: url('../IMAGES/borderp/body.png');
	width: 100%;
	height: 100%;
	background-repeat: repeat-y;
	background-size: 100%;
}

#topborder, #middle, #bottomborder{
	z-index: 2;
}

#middle_content{
	text-align: right;
	font-size: 1.2rem;
	padding-left: 13%;
	padding-right: 13%;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* MOBILE SIZING STYLES */
@media only screen and (max-device-width: 480px) {
	#header_main_container{
		width: 100%;
	    max-width: 100%;
	    padding: 0 !important;
	    margin: 0 !important;
	}
	#header_divider_mobile{
		visibility: visible;
	}
	#content{
		font-size: 1.75em;
	}
	#title_container {
	    transform: scale(0.9); 
	    margin-bottom: 30px;
	    margin-top: -100px;
	    font-size: 2rem;
	}
	#middle_content{
		font-size: 2rem;
	}
	.container{
		max-width: 95%;
	}
	#header{
		display: flex;
		background: #2d5fff;
		padding-right: 30px;
		padding-left: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction:row-reverse;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	#header_links_container{
		display: none;
	}
	#menu_button{
		display: inline-block;
	}
	#header_divider{
		display: none;
	}
	#footer_content{
		position: absolute;
		top: 25%; left: 0; right: 0; bottom: 0;
		z-index: 1;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
		padding: 0 35px;
		color: #fff;
	}
	#footer_content div{
		transform: scale(1.17);
	}
	#footermajedlogo{
		display: none;
	}
	#footer_social{
		display: flex;
		flex-direction: column;
		align-items:flex-end;
	}
	#footerminimajedlogo{
		display: inline-block;
	}
}

/* IPAD (normal) SIZE */
@media only screen and (max-device-width: 768px) {
	.container, .container-md, .container-sm {
	    max-width: 880px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.header_link a{
		margin-top: -40px;
		font-size: 1.24em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header_link a{
		margin-top: 0px;
		font-size: 1.3em;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.header_link a{
		margin-top: 17px;
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 920px) {
	.header_link a{
		margin-top: -45px;
		font-size: 1.25em;
	}
}